<table class="table table-boldered">
    <thead>
        <tr>
            <th>约饭对象</th>
            <th>约饭地点</th>
            <th>约饭日期</th>
            <th>控制面板</th>
        </tr>
    </thead>

    <tbody>
      <% @orders.each do |order| %>
      <tr>
        <% if order.poster_user = current_user %>
          <td><%= link_to(order.asker_user.email, account_user_path(order.asker_user))%></td>
          <td><%= order.poster.eatVenue %></td>
          <td><%= order.poster.eatDay %></td>
        <% else %>
          <td><%= link_to(order.poster_user.email, account_user_path(order.poster_user))%></td>
          <td><%= order.asker.eatVenue %></td>
          <td><%= order.asker.eatDay %></td>
        <% end %>
				<td><% case order.aasm_state
				when "order_matched"%>
				<%= link_to("申请取消", ask_cancel_account_order_path(order), :method => :post, :class => "btn btn-xs btn-default") %>
				<%= link_to("确认约会", confirm_meeting_account_order_path(order), :method => :post, :class => "btn btn-xs btn-default") %>
				<% when "order_met" %>
					<%= link_to("已完成", "#", class: "btn btn-sm btn-negative pull-left disabled") %>
				<% when "order_cancelled" %>
					<%= link_to("已取消", "#", class: "btn btn-sm btn-negative pull-left disabled") %>
				<% end %>
        <%= link_to("删除", admin_order_path(order), method: :delete, :class => "btn btn-xs btn-default", data: { confirm: "确定？" }) %>

      </tr>
      <% end %>
    </tbody>
</table>
</div>
</div>
