<table class="table table-boldered">
    <thead>
        <tr>
            <th>约饭对象</th>
            <th>约饭地点</th>
            <th>约饭日期</th>
            <th>控制面板</th>
        </tr>
    </thead>

    <tbody>
      <% @orders.each do |order| %>
      <tr>
        <td><%= order.asker_user.email %></td>
        <td><%= order.poster.eatVenue %></td>
        <td><%= order.poster.eatDay %></td>
        <td><%= link_to("申请取消","#", :method => :post, :class => "btn btn-xs btn-default") %></td>
        <td><%= link_to("确认约会","#", :method => :post, :class => "btn btn-xs btn-default") %></td>
      </tr>
      <% end %>
    </tbody>
</table>
</div>
</div>
