<table class="table table-boldered">
    <thead>
        <tr>
						<th>约饭主题</th>
						<th>约饭对象</th>
            <th>约饭地点</th>
            <th>约饭日期</th>
            <th>控制面板</th>
        </tr>
    </thead>

    <tbody>
      <% @orders.each do |order| %>
      <tr>
				<td><%= link_to(order.poster.title, account_order_path(order)) %></td>
				<td><%= order.asker_user.email %></td>
        <td><%= order.poster.eatVenue %></td>
        <td><%= order.poster.eatDay %></td>
				<td><% case order.aasm_state
				when "order_matched"%>
				<%= link_to("申请取消", ask_cancel_account_order_path(order), :method => :post, :class => "btn btn-xs btn-default") %>
				<%= link_to("确认约会", confirm_meeting_account_order_path(order), :method => :post, :class => "btn btn-xs btn-default") %>
				<% when "order_met" %>
					<%= link_to("已完成", "#", class: "btn btn-sm btn-negative pull-left disabled") %>
					<!-- PATH FOR EDITING FEEDBACK BREAKS WHEN DELETED A PREVIOUS FEEDBACK -->
						<% if order.feedbacks.blank? %>
							<%= link_to("约会反馈", new_order_feedback_path(order), class: "btn btn-sm btn-negative pull-left") %>
						<% else %>
							<%= link_to("修改反馈", edit_feedback_path(order), class: "btn btn-sm btn-negative pull-left") %>
						<% end %>
				<% when "order_cancelled" %>
					<%= link_to("已取消", "#", class: "btn btn-sm btn-negative pull-left disabled") %>
				<% end %></td>
      </tr>
      <% end %>
    </tbody>
</table>
</div>
</div>
