<h2 class="center">修改约饭信息</h2>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <%= simple_form_for [:account,@post] do |f| %>

            <div class="group">
                <%= f.input :title, label: '主题' %>
            </div>

            <div class="group">
                <%= f.input :description, label: '详细信息' %>
            </div>
            <div class="group">
              <% case @post.eat_venue %>
              <% when '101咖啡' then %>
                <%= f.input :eat_venue, :collection => ['101咖啡', '汤城小厨','星巴克'], :selected => '101咖啡',label: '地点' %>
              <% when '汤城小厨' then %>
                <%= f.input :eat_venue, :collection => ['101咖啡', '汤城小厨','星巴克'], :selected => '汤城小厨',label: '地点' %>
              <% else  %>
                <%= f.input :eat_venue, :collection => ['101咖啡', '汤城小厨','星巴克'], :selected => '星巴克',label: '地点' %>
              <% end %>
            </div>

            <div class="group">
              <p>约会日期</p>
              <%= radio_button(:post, :eat_day ,[Time.now.end_of_week()-1.days])%><strong>本周六<%= (Time.now.end_of_week()-1.days).strftime("%Y/%m/%d") %></strong><br>
              <%= radio_button(:post, :eat_day ,[Time.now.end_of_week()]) %><strong>本周日<%= Time.now.end_of_week().strftime("%Y/%m/%d") %></strong>
            </div>

            <div class="group">
                <%= f.input :image, as: :file, label: '图片' %>
            </div>

            <%= f.submit "提交", class: "btn btn-default outline", data: { disable_with: "提交中..." } %>

            <% end %>
        </div>
    </div>
</div>
