<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>我的约饭记录</title>
  </head>

 <%= render(partial: 'pathbar') %>
  <body>
     <div class="account-index topnavbar">
       <div class="account-index-bg">
         <div class="container">
					 <div class="col-md-9 offset-col-md-3" style="float:none; margin: 0 auto;">
						 <a href="/">用户</a>&nbsp;/&nbsp;我的预约
					 </div>
           <div class="row">
               <div class="col-md-9" id="content" style="float:none; margin: 0 auto;">
								 <% if @posts.present? %>
                   <% @posts.each do |post| %>
                     <div class="col-md-4">
                        <div class="img-account">
	                          <%= link_to account_post_path(post) do %>
	                            <% if post.image.present? %>
	                                <%= image_tag(post.image.thumb.url) %>
	                            <% else %>
	                                <%= image_tag("https://ooo.0o0.ooo/2016/11/27/583a77b4cb159.png") %>
	                            <% end %>
	                            <div class="desc">
	                              <h3 class="titleh3"> <%= post.title %> </h3>
														<% end %>
	                              <h4 class="titleh4"> <strong> <%= post.eat_venue %> </strong></h4>
	                              <h4 class="titleh4"><%= post.eat_day.strftime("%b %d") %></h4>
																<hr class="posthr">
																<div class="postwindow">
																	<%=link_to("修改", edit_account_post_path(post), class: "btn btn-default pink light")%>
																	<%=link_to("删除", account_post_path(post), class: "btn btn-default pink light",
	                                   method: :delete, data: { confirm: "Are you sure?" })%>
																</div>
	                           </div>
                       </div>
                     </div>
                  <% end %>
								<% else %>
								<div class="lonelypage">
									<div class="lonelypage-bg" id="lonelypic"></div>
									<div class="overlaylonely"></div>
									<div class="col-md-12">
													<div class="row lonelypage-top">
													<h1>
													还没有发起邀约吗？
													</h1>
													<p> 赶紧打开连接，计划一个好玩的周末吧！
												 </p>
												 <br>
												 <%= link_to "发起约饭 <span class='glyphicon glyphicon-chevron-right'></span>".html_safe(), new_post_path(@post), class: "btn btn-default pink" %>
												</div>
									</div>
								</div>
								<% end %>
               </div>
          </div>
        </div>

  </body>
</html>
