<h2 class="center">我要约饭</h2>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <%= simple_form_for [:account, @post] do |f| %>

            <div class="group">
                <%= f.input :title, label: '主题' %>
            </div>

            <div class="group">
                <%= f.input :description, label: '详细信息' %>
            </div>

            <div class="group">
                <%= f.input :eatVenue, label: '约饭地点' %>
            </div>

            <div class="group">
                <%= f.input :eatDay, label: '约饭日期' %>
            </div>

            <%= f.submit "提交", class: "btn btn-default", data: { disable_with: "Submitting..." } %>

            <% end %>
        </div>
    </div>
</div>
