<div>
<table class="table table-boldered">
    <thead>
        <tr>
            <th>配对者1</th>
            <th>配对者2</th>
						<th>约会状态</th>
						<th colspan="3">Admin操作</th>
        </tr>
    </thead>

    <tbody>
        <% @orders.each do |order| %>
        <tr>
            <td><%= order.poster_id %></td>
            <td><%= order.asker_id %></td>
						<td><%= order.aasm_state %></td>
            <td><%=link_to("取消", confirm_cancel_admin_order_path(order), method: :post, class: "btn btn-primary")%></td>
						<td><%=link_to("重启", undo_cancel_admin_order_path(order), method: :post, class: "btn btn-primary")%></td>
						<td><%=link_to("删除", admin_order_path(order), method: :delete, class: "btn btn-primary", data: { confirm: "只能删除测试订单，确定？" })%></td>
        </tr>
        <% end %>
    </tbody>
</table>
</div>
