<div>
<table class="table table-boldered">
    <thead>
        <tr>
            <th>约饭post1</th>
            <th>约饭主题1</th>
            <th>约饭发起人1</th>
            <th>约饭post2</th>
            <th>约饭主题2</th>
            <th>约饭发起人2</th>

        </tr>
    </thead>

    <tbody>
        <% @orders.each do |order| %>
        <tr>
            <td><%= order.poster_id %></td>
            <td><%= order.poster.description %></td>
            <td><%= order.poster.user.email %></td>
            <td><%= order.asker_id %></td>
            <td><%= order.asker.description %></td>            
            <td><%= order.asker.user.email%></td>
            <td>
                <%=link_to("删除", admin_order_path(order), class: "btn btn-primary", method: :delete, data: { confirm: "Are you sure?" })%></td>
        </tr>
        <% end %>
    </tbody>
</table>
</div>
