<div class="col-md-4 col-md-offset-4">
    <h2>填写会展示到网站上的反馈博客-用户新建</h2>

    <hr>
    <%= simple_form_for [:account,@order,@feedback] do |f| %>
		<%= f.input :title, label: '邀约的主题 - 什么地点、哪种菜系？' %>
    <br>
    <br>
    <%= f.input :description, label: '描述一下聚餐详情 - 都吃了什么美食、聊了什么有趣的话题？' %>
    <br>
		<br>
		<%= f.input :image, as: :file, label: '吃饭合照 - 把美好的瞬间分享给大家' %>
		</br>

    <%= f.submit "完成", :disable_with => 'Submiting...' %>
    <% end %>
		<br>
</div>
