<div class="col-md-12">
  <div class="feedback">
    <%= link_to("New feedback", new_admin_feedback_path, class: "btn btn-primary pull-right") %>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Description</th>
				<th>User</th>
      </tr>
    </thead>
    <tbody>
      <% @feedbacks.each do |feedback| %>
        <tr>
          <td><%= feedback.id %></td>
          <td><%= link_to(feedback.title, admin_feedback_path(feedback)) %></td>
          <td><%= feedback.description %></td>
					<td><%= feedback.user.email %></td>
          <td>
              <%= link_to("Edit", edit_admin_feedback_path(feedback), class: "btn btn-sm btn-default")%>
              <%= link_to("Delete", admin_feedback_path(feedback),    class: "btn btn-sm btn-default",
                          method: :delete, data: { confirm: "Are you sure?" } )%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
