<div class="container">
	<div class="col-md-12">
  <table class="table table-hover">
    <thead>
      <tr>
        <th><i class="fa fa-list-ol" aria-hidden="true"></i> 编号</th>
        <th style="width:10%;"><i class="fa fa-book" aria-hidden="true"></i> 主题</th>
        <th style="width:50%;"><i class="fa fa-file-text" aria-hidden="true"></i> 内容</th>
				<th><i class="fa fa-user"></i> 作者</th>
			  <th><i class="fa fa-cog" aria-hidden="true"></i> 控制台</th>
      </tr>
    </thead>
    <tbody>
      <% @feedbacks.each do |feedback| %>
        <tr>
          <td><%= feedback.id %></td>
          <td><%= link_to(feedback.title, feedback_path(feedback)) %></td>
          <td><%= truncate(feedback.description, :length => 110, :omission => '...')  %></td>
					<td><%= feedback.user.email %></td>
          <td>
		          <% if feedback.is_hidden == true %>
							<%= link_to("推送", publish_admin_feedback_path(feedback), method: :post, class: "btn btn-sm btn-default outline") %>
							<% else %>
							<%= link_to("隐藏", hide_admin_feedback_path(feedback), method: :post, class: "btn btn-sm btn-default outline") %>
							<% end %>
              <%= link_to("编辑", edit_admin_feedback_path(feedback), class: "btn btn-sm btn-default outline")%>
							<%= link_to("删除", admin_feedback_path(feedback), class: "btn btn-sm btn-default outline",
                          method: :delete, data: { confirm: "Are you sure?" })%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="text-center">
     <%= will_paginate @feedbacks ,renderer: BootstrapPagination::Rails%>
  </div>
</div>
</div>
