<div class="row">
<div class="col-md-12">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Description</th>
				<th>User</th>
				<th>Admin Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @feedbacks.each do |feedback| %>
        <tr>
          <td><%= feedback.id %></td>
          <td><%= link_to(feedback.title, feedback_path(feedback)) %></td>
          <td><%= feedback.description %></td>
					<td><%= feedback.user.email %></td>
          <td>
              <%= link_to("Edit", edit_admin_feedback_path(feedback), class: "btn btn-sm btn-default outline")%>
							<%= link_to("Delete", admin_feedback_path(feedback), class: "btn btn-sm btn-default outline",
                          method: :delete, data: { confirm: "Are you sure?" })%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="text-center">
     <%= will_paginate @feedbacks ,renderer: BootstrapPagination::Rails%>
  </div>
</div>
</div>
