<div class="col-md-12">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Description</th>
				<th>User</th>
				<th>Admin Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @feedbacks.each do |feedback| %>
        <tr>
          <td><%= feedback.id %></td>
          <td><%= link_to(feedback.title, feedback_path(feedback)) %></td>
          <td><%= feedback.description %></td>
					<td><%= feedback.user.email %></td>
          <td>
              <%= link_to("Edit", edit_admin_order_feedback_path(feedback.order, feedback), class: "btn btn-sm btn-default outline")%>
							<%= link_to("Delete", "#", class: "btn btn-sm btn-default outline", disabled: true )%>
							<%#= link_to("Delete", admin_order_feedback_path(feedback.order, feedback), class: "btn btn-sm btn-default",
                          method: :delete, data: { confirm: "Are you sure?" }, disabled: true )%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
