<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>landing page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="margin-top:20px;">

  <!-- Indicators -->
     <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
       <li data-target="#carousel-example-generic" data-slide-to="2"></li>
     </ol>

  <!-- Wrapper for slides -->
    <div class="carousel-inner">
       <div class="item slides active"><div class="overlaycarousel"></div>
         <div class="slide-1"></div>
		      	<div class="header-text hidden-xs">
			      	<div class="title-carousel">
			      		<div class="col-md-12">
					      	<img src="https://ooo.0o0.ooo/2016/11/27/583a68d9aa0b0.png" class="logocarousel"><font class="projnamehome">Eatgether </font><br>
					        	<h1 class="headh1">好玩不尴尬，吃饭认识TA</h1>
				           	<p style="color:white;"><i> 约上四个人一起吃饭，结交更多拥有共同爱好的年轻人</i></p>
				          	<br>
				          	<div>
						          <%= link_to("加入饭局", posts_path, class: "btn btn-danger btn-lg", style: "background-color:#f01d67;") %>
				            </div>
               </div>
			     	</div>
          </div>
       </div>

    <div class="item">
			<div class="item slides"><div class="overlaycarousel"></div>
        <div class="slide-2"></div>
		    	<div class="header-text hidden-xs">
			    	<div class="title-carousel-item2">
			    		<div class="col-md-12 carouselitem2">
			     			<img src="https://ooo.0o0.ooo/2016/11/27/583a68d9aa0b0.png" class="logocarousel"><font class="projnamehome">Eatgether </font><br>
					       	<h1 class="headh1">参加附近的饭局，迅速扩展社交圈</h1>
				          	<p style="color:white;"><i> 基于地理位置的餐厅推荐，缩短社交距离，更好地认识身边的人</i></p>
			          		<br>
			          		<div>
					          	 <%= link_to("扩展社交圈", posts_path, class: "btn btn-danger btn-lg", style: "background-color:#f01d67;") %>
				          	</div>
				      </div>
				    </div>
			 	 </div>
			 </div>
		</div>

    <div class="item">
			<div class="item slides"><div class="overlaycarousel"></div>
        <div class="slide-3"></div>
			    <div class="header-text hidden-xs">
			    	<div class="title-carousel-item3">
			    		<div class="col-md-12 carouselitem3">
					    	<img src="https://ooo.0o0.ooo/2016/11/27/583a68d9aa0b0.png" class="logocarousel"><font class="projnamehome">Eatgether </font><br>
					      	<h1 class="headh1">兴趣相投，认识更多有趣的人</h1>
				        	<p style="color:white;"><i>发起或参加社交达人的活动，开启多姿多彩的周末生活</i></p>
				        	<div>
					        	 <%= link_to("认识更多人", posts_path, class: "btn btn-danger btn-lg", style: "background-color:#f01d67;") %>
				        	</div>
				      	</div>
				     </div>
		    	</div>
		  	</div>
      </div>
   </div>

  <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
         <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      </a>
  </div>

<!-- Carousel -->

 <div class="two">
   <div class="two-bg" id="picturetwo">
     <div class="container" style="margin-top:20px;">
       <div align="center">
          <%= image_tag ("http://d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/centenni-lightbox-51/a90eb697-logo1_01i01i01i01i000000.png") %>
       </div>
  	   <div class="title-two">
         <h1 style="font-size:24px;font-weight:bold;">  轻松拓展社交圈，带上好友一起结交有趣的人  </h1>
         <p> 省去发信息、问时间、选餐厅等繁琐步骤 <br>
             由系统通过共同爱好、地理位置等特征精准匹配能够吃到一起的人
         </p>
      </div>
    </div>
  </div>
</div>

  <div class="three" style="text-align:center">
    <div class="overlay1"></div>
      <div class="three-bg" id="picturethree">
        <div class="container">
         <div class="row">
           <div class="title-three block" style="text-align:center">
             <h2 class="text-left lp-2">  让美好的饭局变得理所当然 </h2>
          </div>
  			 	<div class="sanzhangtu block" style="margin-top: 30px;">
            <div class="col-md-4" >
                <img src="http://chuantu.biz/t5/41/1479386669x1780898010.png" style="width: 220px;">
            </div>
             <div class="col-md-4">
                <img src="http://chuantu.biz/t5/41/1479386737x1780898010.png" style="width: 220px;">
            </div>
            <div class="col-md-4">
               <img src="http://chuantu.biz/t5/41/1479386037x1780898010.png" style="width: 220px;">
            </div>
         </div>
       </div>
     </div>

        <div class="container">
          <div class="row">
            <div class="wenzi">
              <div class="col-md-4">
                <div class="caption" style="text-align:left">
                  <h3 class="lp-3">	四人行组局，让邀约不再尴尬	</h3>
                     <br>
                    <p class="lp-3">
                     独自或找朋友一起发起饭局，选择系统推荐应邀者共进晚餐。
									   每周更新全城最热门餐厅、图片、介绍，丰富邀约介绍，吸引到最和你胃口的人共进晚餐~
                   </p>
               </div>
             </div>

         <div class="col-md-4">
           <div class="caption" style="text-align:left">
             <h3 class="lp-3">	邀约流程简单明了	</h3>
               <br>
               <p class="lp-3">
               省去发信息、问时间、选餐厅等繁琐步骤,由系统通过共同
               爱好、地理位置等特征,精准匹配能够吃到一起的人。
            	</p>
           </div>
        </div>

         <div class="col-md-4">
            <div class="caption" style="text-align:left">
              <h3 class="lp-3">	只和靠谱的人共进晚餐</h3>
              <br>
              <p class="lp-3">
               为确保邀约完美体验，所有邀约发起人都经过平台身份验证，餐厅
               也经过平台审核.邀约必须提前三天取消，临时决定不来的用户将被终生取消平台使用权。
            	</p>
           </div>
          </div>
       </div>
     </div>
   </div>
  </div>
</div>

      <div class="four">
        <div class="four-bg" id="picturefour">
          <div class="container">
            <div class="row">
              <div class="hero2">
                 <h2 class="text-left lp-2">未来一周内精选的邀约</h2>
              </div>
                <div class="container">
                  <div align="center">
                    <img src="http://ww2.sinaimg.cn/large/006tNc79jw1f9pkg2m2w5j30l406c75q.jpg" width="766" height="228" />
                  </div>
                </div>
                <div class="hero3" align="center">
									 <div class="row" style="width:800px;">
											<div class="col-md-7">
												<p class="lp-4-1"> LE CINQ 五道菜法式套餐 </p>
											</div>
									    <div class="col-md-5">
													<p class="lp-4-2">
														<i class="fa fa-map-marker"></i>&nbsp;国贸&emsp;&emsp;&emsp;
														<i class="fa fa-cutlery"></i>&nbsp;法式料理&emsp;&emsp;&emsp;
														<i class="fa fa-user"></i>&nbsp;3人
												 </p>
										 </div>
									 </div>
                </div>

                <div class="container">
                    <div align="center">
                       <img src="http://ww3.sinaimg.cn/large/006tNc79jw1f9plgvw7qmj30l4062tbe.jpg" width="766" height="228" />
                    </div>
                </div>
								<div class="hero3" align="center">
									 <div class="row" style="width:800px;">
											<div class="col-md-7">
													<p class="lp-4-1"> HEALTHY EATS 健康又美味 </p>
											</div>
											<div class="col-md-5">
													<p class="lp-4-2">
														<i class="fa fa-map-marker"></i>&nbsp;望京&emsp;&emsp;&emsp;
														<i class="fa fa-cutlery"></i>&nbsp;健康餐&emsp;&emsp;&emsp;
														<i class="fa fa-user"></i>&nbsp;2人
													</p>
											</div>
									</div>
								</div>


                  <div class="container">
                     <div align="center">
                       <img src="http://ww4.sinaimg.cn/large/006tNc79jw1f9pljwaoswj30l406276k.jpg" width="766" height="228" />
                     </div>
                  </div>

									<div class="hero3" align="center">
											<div class="row" style="width:800px;">
												<div class="col-md-7">
													<p class="lp-4-1"> LA TAVERNA意大利风味西餐 </p>
												</div>
												<div class="col-md-5">
													<p class="lp-4-2">
														<i class="fa fa-map-marker"></i>&nbsp;三里屯&emsp;&emsp;&emsp;
														<i class="fa fa-cutlery"></i>&nbsp;意式料理&emsp;&emsp;&emsp;
														<i class="fa fa-user"></i>&nbsp;2人
													</p>
											</div>
										</div>
									</div>
               </div>
            </div>
          </div>
        </div>

         <hr>

        <div class="five">
          <div class="five-bg" id="picturefive">  </div>
            <div class="container">
              <h2 class="text-left lp-2">听听他们怎么说</h2>
			    	</div>
		  	  	<div>
              <div class="container" style="margin-top:30px;">
					    	 <div class="col-md-2">
					    	 </div>
							  <div class="col-md-1">
                    <img src="http://ww4.sinaimg.cn/large/006tNc79jw1f9plzjwe17j3029029t8k.jpg" class="img-circle"  width="80" height="80" />
                </div>
              <div class="col-md-3">
                  <p>
                   我最大的爱好就是吃，北京所有的新餐厅、酒吧都会去尝试。身边的闺蜜工作都太忙，总是临时取消。在Eatgether的平台上可以找到靠谱的人一起去尝试这些地方，还认识了不少经常一起聚的小伙伴。
                  </p>
								  <p>Candice L.</p>
								  <p class="lp-5">品牌策划公司行政助理</p>
              </div>
              <div class="col-md-1">
                  <img src="http://ww4.sinaimg.cn/large/006tNc79jw1f9pmbpr77tj3029029dfp.jpg" class="img-circle"  width="80" height="80" />
              </div>
               <div class="col-md-3">
                  <p>
                    刚毕业那几年工作太忙，没时间交女朋友，后来在Eatgether上看到了我家附近的一家新开的餐厅饭局，想多认识人就参加了，结果不仅认识了朋友，还认识了现在的女朋友，感谢Eatgether这个平台！
                  </p>
								  <p>Kenneth W.</p>
								  <p class="lp-5">外企消费品公司高级经理</p>
               </div>
							 <div class="col-md-2">
							</div>
          </div>
        </div>
     </div>

       <div class="six">
          <div class="overlay2">	</div>
            <div class="six-bg" id="picturesix"></div>
              <div class="col-md-12 lp-footer">
									<img src="https://ooo.0o0.ooo/2016/11/27/583a68d9aa0b0.png" class="logohome"><font class="projnamehome">Eatgether </font><br><br>
                    <p style="font-size:24px;font-weight:bold;color:white;">
                      无数和你一样的年轻人，<br>都可能通过一顿饭成为你的好友
                    </p>

                    <p>
                       <%= link_to("这就约饭去！", posts_path, class: "btn btn-danger btn-lg", style: "background-color:#f01d67;") %>
                    </p>
						</div>
       </div>
  </body>
</html>
<script type='text/javascript'>
    (function(m, ei, q, i, a, j, s) {
        m[i] = m[i] || function() {
            (m[i].a = m[i].a || []).push(arguments)
        };
        j = ei.createElement(q),
            s = ei.getElementsByTagName(q)[0];
        j.async = true;
        j.charset = 'UTF-8';
        j.src = '//static.meiqia.com/dist/meiqia.js';
        s.parentNode.insertBefore(j, s);
    })(window, document, 'script', '_MEIQIA');
    _MEIQIA('entId', 43069);
</script>
<!-- <div data-content="This will be displayed as popover content"
 data-toggle="popover" data-toggle="popover" title="Popover"> Popover </div>

 <a id="hh_test" data-toggle="popover"
 data-trigger:"focus hover"
 data-placement="bottom"
 data-html="true"
 data-content="
      <span>
        用户申请了您的邀约
      </span>
  ">
 Click to toggle popover
 </a>

 <div class="popover-content"></div> -->
