

<h2 class="center">修改个人信息</h2>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <%= simple_form_for [:account,@user] do |f| %>
                    <div id="my_image">
                    <% if current_user.image.present? %>
                    <%= image_tag(current_user.image.medium.url, class: "image-js",:id => "image") %>
                    <% else %>
                    <img src="https://ooo.0o0.ooo/2016/11/27/583a77b4cb159.png" width="230px;">
                    <% end %>
                    </div>
                    <div class="group pic">
                       <%= f.input :image, as: :file, label: '更换头像' %>
                    </div>

                    <div class="group">
                       <%= f.input :nameChi, label: '姓名' %>
                    </div>

                    <div class="group">
                       <%= f.input :nameNick, label: '昵称' %>
                    </div>

                    <div class="group">
                       <%= f.input :gender, :collection => User.sex_select, :selected => User.sex_select[1], label: '性别' %>
                    </div>

                    <div class="group">
                       <p>  <strong>出生 年 月 日</strong>  </p>
                       <%= f.date_select(:birthday, :use_month_numbers=>true, :start_year=>1930, :end_year => Time.now.year, :default =>'1990-1-1'.to_date)%>
                    </div>

                    <br>

                    <div class="group">
                      <%= f.input :cellNum, label: '电话号码' %>
                    </div>

                    <div class="group">
                      <%= f.input :heightUser, label: '身高（厘米）',input_html: { min: '0', step: 'any' } %>
                    </div>

                    <div class="group">
                         <%= f.input :work, label: '工作' %>
                    </div>

                    <div class="group">
                         <%= f.input :income, label: '收入（年薪）' %>
                    </div>

                    <div class="group">
                       <%= f.input :description, label: '自我介绍' %>
                    </div>

                    <div class="group">
                        <%= collection_check_boxes(:user, :interest_ids, Interest.all, :id, :name) %>
                    </div>

                    <!-- <br>
                   <div class="group pic">
                       <%#= f.label :生活照片 %><br>
                       <%#= f.file_field :avatar, :multiple => true, name: "photos[avatar][]" %>
                   </div>
                   <br> -->
                      <%= f.submit "提交", class: "btn btn-default outline", data: { disable_with: "提交中..." } %>
            <% end %>
        </div>
     </div>






      <script type="text/javascript">
     function readURL(input) {

         if (input.files && input.files[0]) {
             var reader = new FileReader();


             reader.onload = function (e) {
                 $('#image').attr('src', e.target.result);
             }

             reader.readAsDataURL(input.files[0]);
         }
     }

     $("#user_image").change(function(){
         readURL(this);
          {maxWidth: 300} // Options
     });


     </script>
