<div class="widget-content topnavbar">
      <div class="row">
          <div class="col-md-12">

              <table class="table table-hover table-striped table-bordered">
                  <tr>
                      <th>姓名</th>
                      <td><%= current_user.nameChi %></td>
                  </tr>
                  <tr>
                      <th>昵称</th>
                      <td><%= current_user.nameNick %></td>
                  </tr>
                  <tr>
                      <th>性别</th>
                      <td><%= current_user.gender %></td>
                  </tr>
                  <tr>
                      <th>出生年月</th>
                      <td><%= current_user.birthday %></td>
                  </tr>
                  <tr>
                      <th>身高</th>
                      <td><%= current_user.heightUser %></td>
                  </tr>
                  <tr>
                      <th>手机号码</th>
                      <td><%= current_user.cellNum %></td>
                  </tr>
                  <tr>
                      <th>收入</th>
                      <td><%= current_user.income %></td>
                  </tr>

                     <tr>
                       <th>爱好</th>
                       <td><% @users.interest.each do |interest| %>
                        <span class="label label-success">

                         <%= interest.name %>
                       </span>
                         <% end %>
                      </td>
                    </tr>

                    <tr>
                    <th colspan="2">
                      自我描述
                    </th>

                    </tr>
                    <tr>
                    <th colspan="2">
                    <%= simple_format(current_user.description) %>
                    </th>

                    </tr>

              </table>
          </div>

  </div>
</div>
