<div class="col-md-12">
    <%= link_to("约饭", new_post_path(@post), class: "btn btn-danger pull-right") %>
</div>
<br>

<table class="table table-boldered">
    <thead>
        <tr>
            <th>ID</th>
            <th>约饭主题</th>
            <th>约饭内容</th>
            <th>控制面板</th>
        </tr>
    </thead>

    <tbody>

        <% @posts.each do |post| %>
          <tr>
            <%#= form_for [:admin, @order] do |f| %>
              <td> <%#=f.post_id :post_1_id%>
                  <%= post.id %>
              </td>
              <td><%= link_to(post.title,post_path(post)) %></td>
              <td><%= post.description %></td>
                <td>
                  <select name="sel" id="sel">
                    <option selected="selected">--请选择--</option>
                    <% @posts.each do |p| %>
                      <% if p.id != post.id %>
                        <option value="0"><%=p.id %></option>
                      <% end %>
                    <% end %>
                  </select>
                  <%= link_to("确认配对", class: "btn btn-default") %>
                </td>
            <%# end %>
          </tr>
        <% end %>

    </tbody>
</table>
</div>
</div>
