<div class="col-md-12">
    <%= link_to("约饭", new_post_path(@post), class: "btn btn-danger pull-right") %>
</div>
<br><br>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>约饭主题</th>
            <th>约饭内容</th>
            <th>约饭地点</th>
            <th>约饭日期</th>
            <th>控制面板</th>
        </tr>
    </thead>

    <tbody>

        <% @posts.each do |post| %>
           <tr>
             <td> <%= post.id %> </td>
             <td><%= post.title %></td>
             <td><%= post.description %></td>
             <td><%= post.eatVenue %></td>
             <td><%= post.eatDay %></td>

             <td>
               <%= simple_form_for Order.new , :url => admin_orders_path(:poster_id => post.id ) do |f| %>
                  <%#= f.input :asker_id, :as => :select, :collection => Post.where.not(id: post.id).map(&:id)  %>
                  <div class="center">
                  <%= f.input :asker_id, :as => :select, :collection => Post.no_match.all_except(post.id).map(&:id) ,
                              :label => "配对者", class: "pagination-centered" %>

                  <%= f.submit '配对' ,:class => "btn btn-default center-block" %>
                </div>
               <% end %>
             </td>
           </tr>
        <% end %>

    </tbody>
</table>
</div>
</div>
