    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th><i class="fa fa-list-ol" aria-hidden="true"></i> ID</th>
                        <th><i class="fa fa-cutlery"></i> 约饭主题</th>
                        <th><i class="fa fa-map-marker" aria-hidden="true"></i> 约饭地点</th>
                        <th><i class="fa fa-calendar" aria-hidden="true"></i> 约饭日期</th>
                        <th><i class="fa fa-cog" aria-hidden="true"></i> 控制台</th>
                    </tr>
                </thead>
                <tbody>
                    <% @posts.each do |post| %>
                    <tr>
                        <td>
                          <%= link_to admin_post_path(post) do %>
                            <i class="fa fa-cutlery"> </i> <%= post.id %>
                          <% end %>
                        </td>
                        <td><%= post.title %></td>

                        <td><%= post.restaurant.name %></td>
                        <td><%= post.eat_day %></td>
                        <td>
                          <% if post.is_hidden == true %>
                          <%= link_to("首页显示", publish_admin_post_path(post), method: :post, class: "btn btn-sm btn-default outline") %>
                          <% else %>
                          <%= link_to("首页隐藏", hide_admin_post_path(post), method: :post, class: "btn btn-sm btn-default outline" ) %>
                          <% end %>
                          <%= link_to("编辑", edit_admin_post_path(post), class: "btn btn-sm btn-default outline") %>
                          <%= link_to("删除", admin_post_path(post), method: :delete, class: "btn btn-sm btn-default outline", :data => { :confirm => "确定要删除此约饭？？" }) %>
                        </td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
            <div class="text-center">
                <%= will_paginate @posts,renderer: BootstrapPagination::Rails %>
            </div>
        </div>
    </div>

</div>
