<div class="container" style="text-align:center;">
  <div class="content1">
      <div class="">
      <h3>发出者:  <%= @post.user.nameChi %></h3>
      </div>

       <div class="zhuti">
          <h3>主题 ：<%= @post.title %></h3>
       </div>

       <div class="neirong">
          <h3>描述 ：<%= @post.description %></h3>

       </div>

       <div class="didian">
        <h3>地点 ：<%= @post.restaurant.description %></h3>
        <h3>时间 ：<%= @post.eat_day %></h3>

        </h3>
       </div>


   </div>
</div>
