  <div class="container col-md-10 col-md-offset-1 topnavbar">
    <div class="panel panel-default", id="dialog">
      <div class="panel-heading">
                  <%= @receipts.first.nameNick %>
                  与
                  <%= @receipts.last.nameNick  %>
                  的对话
      </div>
      <div class="panel-body">
        <div class="messages">
          <% @conversation.receipts_for(current_user).each do |receipt| %>
            <% message = receipt.message %>
            <% if message.sender == current_user %>
            <div class="text-right">
              <p>
                <span style="color: black;">
                  <% if message.sender.image.present? %>
                     <%= image_tag(message.sender.image.medium.url, class: "nav-thumbnails") %>
                  <% else %>
                    <i class="fa fa-user"></i>
                  <% end %>
                    <%= message.sender.nameNick %>
                </span>
                <span style="color: black;">
                    says at
                    <%= message.created_at.strftime("%F %T") %>
                </span>ddd
              </p>
              <h4>
                <%= message.body %>
              </h4>
            </div>
            <% else %>
            <div class="" style="background-color: ;">
              <p>
                <span style="color: #f01d67;">
                  <% if message.sender.image.present? %>
                     <%= image_tag(message.sender.image.medium.url, class: "nav-thumbnails") %>
                  <% else %>
                    <i class="fa fa-user"></i>
                  <% end %>
                    <%= message.sender.nameNick %>
                </span>
                <span style="color: #f01d67;">
                    says at
                    <%= message.created_at.strftime("%F %T") %>
                </span>
              </p>
              <h3 style="margin-top: -5px;">
                <%= message.body %>
              </h3>
            </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <%= form_tag reply_account_conversation_path(@conversation), method: :post do %>
    <div class="form-group">
      <%= text_area_tag 'body', nil, cols: 3, class: 'form-control', placeholder: 'Type something...', required: true %>
    </div>
      <%= submit_tag "发送信息", class: 'btn btn-default pink' %>
    <% end %>

  </div>


<script>
setInterval(function() {
  $("#dialog").load(location.href+" #dialog>*","");
}, 5000);
</script>
