<!-- <div class="rwo">
  <div class="col-md-12">
   约饭信息 <%#= @order.post_id %>
  </div>

</div> -->


<div class="container col-md-10 col-md-offset-1 topnavbar" style="position:relative;">
    <div class="panel panel-default">
        <div class="panel-heading">

            <%= @receipts.first.nameNick %>
            与
            <%= @receipts.last.nameNick  %>
            的对话

        </div>

        <div class="panel-body">
            <div class="messages">
                <% @conversation.receipts_for(current_user).each do |receipt| %>
                <% message = receipt.message %>
                <% if message.sender == current_user %>
                <div class="text-right" style="background-color:; height: 30px;">
                    <h4>
                        <%= message.body %>
                    </h4>
                </div>
            <% else %>
                <div class="" style="background-color: ;">
                    <p>
                        <span style="color: black;">
                            <%= message.sender.nameNick %>
                        </span>
                        <span style="color: black;">
                            says at
                            <%= message.created_at.strftime("%F %T") %>
                        </span>
                    </p>
                    <h3 style="margin-top: -5px;">
                        <%= message.body %>
                    </h3>
                </div>
                <% end %>
                <% end %>
            </div>
        </div>
    </div>

    <%= form_tag reply_account_conversation_path(@conversation), method: :post do %>
    <div class="form-group">
        <%= text_area_tag 'body', nil, cols: 3, class: 'form-control', placeholder: 'Type something...', required: true %>
    </div>
    <%= submit_tag "发送信息", class: 'btn btn-default pink' %>
    <% end %>
<div class="footermargin"></div>
</div>
<div class="footermargin">
</div>
