<div class="row">
    <div class="col-md-9">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        兴趣爱好
                    </th>
                    <th class="center">
                        控制选项
                    </th>
                </tr>
            </thead>
            <tbody>
                <% @interests.each do |interest| %>
                <tr>
                    <td>
                        <%= interest.name %>
                    </td>
                    <td class="center">
                        <%= link_to("编辑", edit_admin_interest_path(interest), class: "btn btn-default outline") %>
                        <%= link_to("删除", admin_interest_path(interest), :method => :delete, class: "btn btn-default outline", data: { confirm: "确定删除此爱好"}) %>
                    </td>
                </tr>
                <% end %>
            </tbody>

        </table>
        <div class="text-center">
            <%= will_paginate @users ,renderer: BootstrapPagination::Rails%>
        </div>
    </div>
    <div class="col-md-1 layad">
        <%= link_to("添加兴趣爱好", new_interest_path(@interest), :class => "btn btn-primary") %>
    </div>

</div>

</div>
