<link rel="stylesheet" type="text/css" href="/assets/application.scss" />

<div class="row">
  <div class="col-md-12">
    <h2>
      约会详情 <br>
    </h2>
    <table class="table table-bordered">
      <thead>
        <tr>
					<th>约会主题</th>
          <th>约会日期</th>
					<th>约会地点</th>
					<th>约会描述</th>
					<th colspan="2">约会成员</th>
        </tr>
      </thead>
      <tbody>
				<tr>
					<td><%= @order.post.title %></td>
					<td><%= @order.post.eat_day %></td>
					<td><%= @order.post.eat_venue %></td>
					<td><%= @order.post.description %></td>
					<td><%= @poster_user.email %></td>
					<td><%= @asker_user.email %></td>
				</tr>
      </tbody>
    </table>
  </div>
</div>
