<head>
	<link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
</head>
<body>
			<div class="blogpage">
	      <div class="blogpage-bg" id="blog-bg-pic"></div>
				<div class="overlayblog"></div>
	      <div class="container">
								<div class="row blogpage-top">
								<h1>
									<%= image_tag "https://ooo.0o0.ooo/2016/11/27/583a68d9aa0b0.png", class: "logocarousel" %><font class="projnamehome">Eat2gether</font> + 你 = &nbsp; <br>
										一顿饭局的100种打开方式
								</h1>
								<p> 通过Eat2gether成为好朋友的人 <br>
								 都开启了哪些有趣的故事
							 </p>
							</div>
	      </div>
	    </div>
<div class="container">
				<div class="row">
            <!-- Blog Entries Column -->
            <div class="col-md-8">

								<h2>
									<%= @feedback.title %>
                </h2>
                <p class="lead">
                    by &nbsp;
										<%= @feedback.user.nameNick %>
										<% if @feedback.user.image.present? %>
											<%= image_tag(@feedback.user.image.medium.url, class: "blog-thumbnails") %>
										<% else %>
											 <%= image_tag("logo-nopic2.png", class: "img-thumbnails", style: "width:200px;") %>
										<% end %>
                </p>
                <p><span class="glyphicon glyphicon-time"></span>
									<%= @feedback.created_at.strftime("%Y年%m月%d日%I:%M%p") %>
								</p>
                <hr>

								<p class="polaroidtext"><%= OrderTwo.find(@feedback.order_two_id).created_at.strftime("%d %b %Y")%></p>
								<% if @feedback.image.present? %>
									<%= image_tag @feedback.image.url, :class => "blogphoto polaroid" %>
								<% else %>
									<%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
								<% end %>
                <hr>
								<div>
                <p><%= raw(@feedback.description) %></p>
								</div>
								<hr>


                <!-- Pager -->
								<%= link_to "<span class='glyphicon glyphicon-chevron-left'></span>Blog首页".html_safe(), feedbacks_path, class: "btn btn-default pink" %>
            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">
                <!-- Blog Search Well -->
                <div class="well" style="margin-top: 20px;">
                    <h4>博客关键字<font class="pinkfont">搜索</font></h4>
                    <div class="input-group">
                        <input type="text" class="form-control pink">
                        <span class="input-group-btn">
												<%= link_to "<span class='glyphicon glyphicon-search'></span>".html_safe(), "#", class: "btn btn-default pink light", style: "height:34px;" %>
                        </span>
                    </div>
                    <!-- /.input-group -->
                </div>

                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>博客文章<font class="pinkfont">分类</font></h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="#">@ 浪漫西餐</a>
                                </li>
                                <li><a href="#">@ 健康饮食</a>
                                </li>
                                <li><a href="#">@ 重庆火锅</a>
                                </li>
                                <li><a href="#">@ 找到男朋友</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="#">@ 找到女朋友</a>
                                </li>
                                <li><a href="#">@ 最难忘的</a>
                                </li>
                                <li><a href="#">@ 有趣的人</a>
                                </li>
                                <li><a href="#">@ 遇到奇葩</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Side Widget Well -->
                <div class="well">
                    <h4>分享你的<font class="pinkfont">精彩饭局</font></h4>
                    <p>在Eat2gether平台上，每天都有新的关系在被挖掘、新的友谊在搭建，现在就注册开启你的约饭，和有趣的人一起享受各种新奇的餐饮体验吧!</p>
										<% if !current_user %>
										<%= link_to("<i class='fa fa-user'></i>  注册".html_safe, "#signupModal", class: "btn btn-danger btn-lg center", style: "background-color:#f01d67;", 'data-toggle' => "modal") %>
										<% else %>
										<%= link_to("加入饭局", posts_path, class: "btn btn-danger btn-lg", style: "background-color:#f01d67;") %>
										<% end %>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
</body>
