    <div class="container">
				<div class="col-md-9" style="float:none; margin: 0 auto;">
       <% @posts.each do |post| %>

        <% if !OrderTwo.find_by_post_id(post.id)%>
         <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="img">
                <% if post.image.present? %>
                    <%= image_tag(post.image.thumb.url) %>
                 <% elsif post.restaurant.photos.present? %>
                 <% post.restaurant.photos.each_with_index do |p, index| %>
                 <%= image_tag p.avatar.medium.url%>
                 <% end %>
                 <% else %>
                    <%= image_tag("https://ooo.0o0.ooo/2016/11/27/583a72fa39c8a.png") %>
                <% end %>
								<div>
                  <% if post.user.image.present? %>
							    	<%= image_tag(post.user.image.avatar.url, class: "post-thumbnails") %>
                  <% else %>
                    <%= image_tag("https://ooo.0o0.ooo/2016/11/27/583a77b4cb159.png", class: "post-thumbnails", style: "width:60px;height:60px") %>
                  <% end %>
								</div>
								<br>
                <div class="desc">
									<h3 class="titleh3"> <%= post.user.nameNick %> </h3>
									<h5 class="titleh3"> <%= post.user.work %> </h5>
									<br>
									<h3 class="titleh3"> <%= post.title %> </h3>
									<h4 class="titleh4"> <strong><i class="fa fa-map-marker"></i>&nbsp;<%= post.restaurant.name %> </strong></h4>
									<h4 class="titleh4"><i class="glyphicon glyphicon-time"></i>&nbsp;<%= post.eat_day.strftime("%b %d 晚饭") %></h4>
									<br>
									<%= link_to "点开看看 <span class='glyphicon glyphicon-chevron-right'></span>".html_safe(), post_path(post,:post_id => post.id), class: "btn btn-default pink" %>
               </div>
           </div>
         </div>
         <% end %>
      <% end %>
     </div>
	</div>
