<h2 class="center">修改约饭信息</h2>
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <%= simple_form_for @post do |f| %>

            <div class="group">
                <%= f.input :title, label: '主题' %>
            </div>

            <div class="group">
                <%= f.input :description, label: '详细信息' %>
            </div>

            <div class="group">
              <%= f.input :eat_venue, label: '约饭地点' %>
            </div>

            <div class="group">
              <%= f.input :eat_day, label: '约饭日期' %>
            </div>

            <div class="group">
                <%= f.input :image, as: :file, label: '图片' %>
            </div>

            <%= f.submit "提交", class: "btn btn-default outline", data: { disable_with: "提交中..." } %>

            <% end %>
        </div>
    </div>
</div>
