<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>我要约饭</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  </head>
  <body>
        <div class="container topnavbar" style="width:90%;">
								<div class="col-md-8 col-md-offset-2 col-xs-12">
	                <h3>这就启程，一起&nbsp;<font class="projnamehome pinkfont">Eat2gether!</font></h3>
								</div>
								<div class="col-md-8 col-md-offset-2 col-xs-12">
									<%= image_tag "http://ww2.sinaimg.cn/large/7853084cjw1fabj7sxrfzj20sg0dr415.jpg", :class => "polaroid", :style => "width:100%" %>
								</div>
                <div class="col-md-8 col-md-offset-2 col-xs-12">
                    <%= simple_form_for @post do |f| %>
										<br><br>
                    <div class="group">
                        <%= f.input :title, label: '主题' %>
                    </div>
                    <div class="group">
                        <%= f.input :description, label: '详细信息'  %>
                    </div>
                    <div class="group">
                      <!-- <label>约饭地点</label> -->
                      <%#= f.select :eat_venue, Restaurant.all.collect { |p| [ p.name ] }, :selected => Restaurant.first.name,label: '约饭地点' %>
                       <%#= f.input :eat_venue, :collection => Restaurant.all, :label => Restaurant.first.description, :include_blank => false %>
                       <%#= f.select :eat_venue, :restaurant_id, Restaurant.all.collect {|p| [p.description]},:label => Restaurant.first.description, :include_blank => false %>
                       <%#= select_tag :eat_venue, options_from_collection_for_select(Restaurant.all, "description","name", Restaurant.first.description) %>
                       <%= f.input :eat_venue, :collection => @restaurants,:selected => @restaurants.first.name, label: '约饭地点'%>
                       详细地址：<span id='cg'></span>
                       <br><br>
                        <% @restaurants.each do |restaurant| %>
                          <div class="hidden"><span id="restaurant_<%=restaurant.id%>"><%=restaurant.description%>

                          </span></div>
                        <% end %>
                    </div>
                    <div class="group">
                      <p><strong>约会日期</strong></p>
                      <%= radio_button(:post, :eat_day,  Date.this_saturday ,checked: true)%>&nbsp;本周六&nbsp;<%=  Date.this_saturday.strftime("%m月%d日 晚饭") %><br>
                      <%= radio_button(:post, :eat_day ,  Date.this_sunday ) %>&nbsp;本周日&nbsp;<%= Date.this_sunday.strftime("%m月%d日 晚饭")  %>
                    </div>
                   <br>
                    <div class="group">
                        <%= f.input :image, as: :file, label: '餐厅图片（选填）',hint: '请上传50KB以上.jpg格式图片' %>
                    </div>
                    <p style=word-wrap:break-word>
                       <font size="-3">
                       如果您没有上传图片，我们会为你准备一张精美的餐厅图片
                     </font>
                     </p>

                    <%= f.submit "提交", class: "btn btn-default pink light", data: { disable_with: "提交中..." } %>

                    <% end %>
                </div>
      </div>
		<script type="text/javascript">
		  $(function () {
		      $("#btnName").click(function () {
		          var strname = $("#txtName").val();   //strname获得文本框中输入的值
		          $.ajax({
		              type: "post",  //ajax的方式为post(get方式对传送数据长度有限制)
		              contentType: "application/json",        //传值方式
		              url: "demo.aspx/getName",  //demo.aspx为目标文件，getName为目标文件中的方法
		              data: "{strName:'" + strname + "'}",  //strName为后台方法的参数，strname为文本框中输入的值
		              contentType: "application/json",        //传值方式
		              success: function (result) {      //成功回传值后触发的方法
		                  alert(result.d);          //后台返回的参数
		              }
		          })
		      })
		  });
			$(function (){
				function aletSelect(obj){
					obj.change(function(){
					 $("#cg").text($("#restaurant_"+obj.val()).text())
					});
					obj.ready(function(){
					 $("#cg").text($("#restaurant_"+obj.val()).text())
					});
				}
				var selectObj = $("#post_eat_venue");
				aletSelect(selectObj);
			});
		</script>
  </body>
</html>
