<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>我要约饭</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  </head>
  <body>


      <div class="new">
        <div class="new-bg" id="newbg">

         <div class="tianbiao">

        <div class="container">
            <div class="row">
                <h1>好玩有趣的饭局，这就启程</h1>
                <div class="col-md-3 col-md-offset-1">
                    <%= simple_form_for @post do |f| %>

                    <div class="group">
                        <%= f.input :title, label: '主题' %>
                    </div>
                    <div class="group">
                        <%= f.input :description, label: '详细信息'  %>
                    </div>
                    <div class="group">
                      <!-- <label>约饭地点</label> -->
                      <%#= f.select :eat_venue, Restaurant.all.collect { |p| [ p.name ] }, :selected => Restaurant.first.name,label: '约饭地点' %>
                       <%= f.input :eat_venue, :collection => @restaurants,:selected => @restaurants.first.name, label: '约饭地点'%>
                       详细地址：<span id='cg'></span>
                       <br><br>
                        <% @restaurants.each do |restaurant| %>
                          <div class="hidden"><span id="restaurant_<%=restaurant.id%>"><%=restaurant.description%></span></div>
                        <% end %>


                       <script type="text/javascript">
                       $(function (){
                         function aletSelect(obj){
                           obj.change(function(){
                            $("#cg").text($("#restaurant_"+obj.val()).text())
                           });

                           obj.ready(function(){
                            $("#cg").text($("#restaurant_"+obj.val()).text())
                           });

                         }

                         var selectObj = $("#post_eat_venue");
                         aletSelect(selectObj);

                       });

                       </script>

                    </div>
                    <div class="group">
                      <p><strong>约会日期</strong></p>
                      <%= radio_button(:post, :eat_day,  Date.this_saturday ,checked: true)%>&nbsp;本周六&nbsp;<%=  Date.this_saturday.strftime("%m月%d日 晚饭") %><br>
                      <%= radio_button(:post, :eat_day ,  Date.this_sunday ) %>&nbsp;本周日&nbsp;<%= Date.this_sunday.strftime("%m月%d日 晚饭")  %>
                    </div>
										<br>
                    <div class="group">
                        <%= f.input :image, as: :file, label: '图片' %>
                    </div>

                    <%= f.submit "提交", class: "btn btn-default outline", data: { disable_with: "提交中..." } %>

                    <% end %>
                </div>

                <div class="col-md-3 col-md-offset-2 date-picture">
                  <img src="https://ooo.0o0.ooo/2016/11/23/583597bd056ea.png" width="400px;">
                </div>

                </div>
            </div>
        </div>
    </div>
  </div>

  </body>
</html>
