<table class="table table-boldered table-hover">
    <thead>
        <tr>
          <th>图片</th>
          <th>约饭主题</th>
          <th>约饭内容</th>
          <th>约饭地址</th>
          <th>约饭日期</th>
        </tr>
    </thead>

    <tbody>
           <tr>
             <td>
             <% if post.image.present? %>
               <%= image_tag(post.image.thumb.url, class: "thumbnail") %>
             <% else %>
               <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
             <% end %>
             </td>
            <td><%= @post.title %></td>
            <td><%= @post.description %></td>
            <td><%= @post.eat_venue %></td>
            <td><%= @post.eat_day %></td>
          </tr>
    </tbody>
</table>
