<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">


<div class="container">
  <div class="row">
    <div class="bread-userhr">
      <div class="brend-word">
         <span class="bread-one">
            <a href="/">首页</a>
         </span>
         <span class="bread-two">»</span>
         <span class="bread-three">约饭详情</span>
         <hr>
      </div>
    </div>
  </div>
</div>

<div class="container">
	<div class="wrapper row">
		<div class="preview col-md-6">

			<div class="preview-pic tab-content">
				<div class="tab-pane active" id="pic-1">
        <%= render_post_show_restaurant_photos(@post) %>
			  </div>
<!-- 可添加更多图片：大图区 -->
				<!-- <div class="tab-pane" id="pic-2"><img src="http://placekitten.com/400/252" /></div>
				<div class="tab-pane" id="pic-3"><img src="http://placekitten.com/400/252" /></div>
				<div class="tab-pane" id="pic-4"><img src="http://placekitten.com/400/252" /></div>
				<div class="tab-pane" id="pic-5"><img src="http://placekitten.com/400/252" /></div> -->
			</div>
<!-- 可添加更多图片：小图区 -->
			<!-- <ul class="preview-thumbnail nav nav-tabs">
				<li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a></li>
				<li><a data-target="#pic-2" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a></li>
				<li><a data-target="#pic-3" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a></li>
				<li><a data-target="#pic-4" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a></li>
				<li><a data-target="#pic-5" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a></li>
			</ul> -->

		</div>

		<div class="details col-md-6">
			<h3 class="product-title"><%= @post.title %></h3>
			<h4 class="sizes"><i class="fa fa-calendar"></i>&nbsp;<%= @post.eat_day.strftime("%Y年%m月%d日")%></h4>
			<p class="sizes"><i class="fa fa-cutlery"></i>&nbsp;<%= @post.restaurant.description %></p>
			<h5 class="sizes"><i class="fa fa-map-marker"></i>&nbsp;<%= @post.restaurant.name %></h5>
			<h5 class="sizes"><i class="fa fa-phone"></i>&nbsp;<%= @post.restaurant.cellnum %></h5>

			<br>
			<p class="product-description"><%= @post.description %></p>
			<br><br>
			<div class="post-action-btn">
				<% if current_user && current_user.is_asker_of?(@post) %>
						<%= link_to("您已申请约饭","#", class: "btn btn-default pink",disabled: :true) %>
				<% elsif @post.user_id == current_user.id && current_user %>
						<%= link_to("这是您发起的预约","#", class: "btn btn-default pink",disabled: :true) %>
				<% else %>
						<%= link_to("加入约饭",application_post_path(@post),method: :post,class: "btn btn-default pink light") %>
				<% end %>
				<div class="btn btn-danger pink" ><i class="fa fa-heart"></i></button>
			</div>
		</div>
	</div>
</div>




  <div class="container  user-informations">
		<div class="row">
			<h4 class="ask_user_well">发起人信息</h4>
			<hr>
	 </div>
   <div class="row">
       <div class="user-position">
      <div class="col-md-2">
      <%= render_post_show_user_image_blank?(@post) %>
      </div>
      <div class="col-md-8">
            <div class="com-md-6 col-md-offset-1 " >
               <div class="word-color">

                   <div class="nikename">
                       <label>昵称:</label>	<span class="nikname"><%= @post.user.nameNick %></span>
                   </div>

                   <div class="birthday">
                      <label>生日:</label>  	<span class="nikname"><%= @post.user.birthday %></span>
                   </div>

                   <div class="phone">
                       <label>电话:</label>  <span class="nikname"><%= @post.user.cellNum %></span>
                   </div>

                   <div class="user-job">
                       <label>职业:</label>  	<span class="nikname"><%=  %></span>
                   </div>

                   <div class="user-interest">
                       <label>兴趣爱好:</label>  	<span class="interest-introduction"><% @post.user.interests.each do |interest| %>
                                                <span class="label label-success"><%= interest.name %>  </span>&nbsp;
                                                <% end %>
                                            </span>
                   </div>

                   <div class="introduction" colspan="2">
                       <label>自我介绍:</label>  	<span class="interest-introduction"><%= @post.user.description %></span>
                   </div>
            </div>
          </div>
         </div>
        </div>
      </div>
     </div>
