<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>图片</th>
                        <th>约饭主题</th>
                        <th>约饭内容</th>
                        <th>约饭地址</th>
                        <th>约饭日期</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <% if @post.image.present? %>
                            <%= image_tag(@post.image.thumb.url, class: "thumbnail img-responsive center-block") %>
                        <% else %>
                            <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail img-responsive center-block") %>
                            <% end %>
                        </td>
                        <td><%= @post.title %></td>
                        <td><%= @post.description %></td>
                        <td><%= @post.eat_venue %></td>
                        <td><%= @post.eat_day %></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<span class="pull-right">
  <% if current_user && current_user.is_asker_of?(@post) %>
    <label class="label label-success"> 您已是申请者 </label>
    <%= link_to("Cancel application", cancel_application_post_path(@post), method: :post, class: "btn btn-default") %>
  <% else %>
    <label class="label label-warning"> 您还不是申请者 </label>
    <%= link_to("Application", application_post_path(@post), method: :post, class: "btn btn-default") %>
  <% end %>
</span>
