<div class="container" style="text-align:center;">

   <% if @post.image.present? %>
      <%= image_tag(@post.image.large.url, class: "thumbnail img-responsive center-block") %>
   <% else %>
      <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail img-responsive center-block") %>
   <% end %>
  </div>


  <div class="container" style="text-align:center;">
    <div class="content1">
        <div class="time">
            <%= @post.eat_day %>
        </div>

         <div class="zhuti">
            <h3>主题 ：<%= @post.title %></h3>
         </div>

         <div class="neirong">
            <h3>描述 ：<%= @post.description %></h3>

         </div>

         <div class="didian">
          <h3>地点 ：<%= @post.eat_venue %></h3>
          <h3>时间 ：<%= @post.eat_day %></h3>

         </div>


     </div>
  </div>

  <div class="showbtn" style="text-align:center">
    <% if current_user && current_user.is_asker_of?(@post) %>
      <%= link_to("您已申请约饭","#", class: "btn btn-warning",id: "twopage-easy",disabled: :true) %>
    <% elsif @post.user_id == current_user.id && current_user %>
      <%= link_to("这是您发起的预约","#", class: "btn btn-primary",id: "twopage-easy",disabled: :true) %>
    <% else %>
      <%= link_to("加入约饭",application_post_path(@post),method: :post,id: "twopage-easy",class: "btn btn-success btn-lg") %>
    <% end %>
  </div>
