<div class="container" style="text-align:center;">

   <% if @post.image.present? %>
      <%= image_tag(@post.image.large.url, class: "thumbnail img-responsive center-block") %>
   <% else %>
      <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail img-responsive center-block") %>
   <% end %>
  </div>


  <div class="container" style="text-align:center;">
    <div class="content">
        <div class="time">
            <%= @post.eat_day %>
        </div>

         <div class="zhuti">
            <h3>主题 ：<%= @post.title %></h3>
         </div>

         <div class="neirong">
            <h3>描述 ：<%= @post.description %></h3>

         </div>

         <div class="didian">
          <h3>地点 ：<%= @post.eat_venue %></h3>

         </div>

     </div>
  </div>

  <div class="show1">

    <div class="show1-bg" id="showbg">
        <div class="container">
          <div class="introduce">
            <h3> 我的花絮  <br>
              <%= current_user.nameNick %>
            </h3>
            <p>
              我是一位幼儿老师，獨自前來背北京工作。 <br>
              在陌生的環境，身邊的人和事都很新鮮， 期待認識更多朋友之後，可以一起四處遊覽！
            </p>
          </div>
      </div>
      <div class="showbtn" style="text-align:center">
        <a id="twopage-easy" href="#" class="btn btn-success btn-lg"> 加入约饭 </a>
      </div>
      </div>
    </div>

  </div>





                <!-- <thead>
                    <tr>
                        <th>图片</th>
                        <th>约饭主题</th>
                        <th>约饭内容</th>
                        <th>约饭地址</th>
                        <th>约饭日期</th>
                    </tr>
                </thead> -->
                <!-- <tbody>
                    <tr>
                        <td>

                        </td>
                        <!-- <td><%= @post.title %></td>
                        <td><%= @post.description %></td>
                        <td><%= @post.eat_venue %></td>

                    <!-- </tr>
                </tbody>
            </table> -->
