<div class="container">
    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th><i class="fa fa-list-ol" aria-hidden="true"></i> 序号</th>
                    <th><i class="fa fa-clock-o" aria-hidden="true"></i> 发起时间</th>
                    <th><i class="fa fa-cutlery"></i> 约饭主题</th>
                    <th><i class="fa fa-user"></i> 发起人</th>
                    <th><i class="fa fa-rocket"></i> 申请人</th>
                    <th><i class="fa fa-map-marker" aria-hidden="true"></i> 约饭地点</th>
                    <th><i class="fa fa-calendar" aria-hidden="true"></i> 约饭时间</th>
                    <th><i class="fa fa-heart" aria-hidden="true"></i> 邀约状态</th>
                    <th><i class="fa fa-cog" aria-hidden="true"></i> 控制台</th>
                </tr>
            </thead>
            <tbody>
                <% @order_twos.each do |order| %>
                <tr>
                    <td><%= order.post_id %></td>
                    <td><%= render_post_created_at(order.post) %></td>
                    <td>
                        <%= link_to admin_post_path(order.post) do %>
                        <%= order.post.title %>
                        <% end %>
                    </td>
                    <td>
                        <%= link_to admin_user_path(order.poster_user) do %>
                        <%= order.poster_user.email %>
                        <% end %>
                    </td>
                    <td>
                        <%= link_to admin_user_path(order.asker_user) do %>
                        <%= order.asker_user.email %>
                        <% end %>
                    </td>
                    <td> <%= order.post.eat_venue %> </td>
                    <td> <%= order.post.eat_day %></td>
                    <td><%= order.aasm_state %></td>
                    <td>
                        <%=link_to("取消", confirm_cancel_admin_order_two_path(order), method: :post, class: "btn btn-default outline")%>
                        <%=link_to("重启", admin_revive_admin_order_two_path(order), method: :post, class: "btn btn-default outline")%>
                        <%=link_to("删除", admin_order_two_path(order), method: :delete, class: "btn btn-default outline", data: { confirm: "只能删除测试订单，确定？" })%>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
<div class="text-center">
    <%= will_paginate @order_twos,renderer: BootstrapPagination::Rails %>
</div>
