<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>我的申请记录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  </head>


  <body>
    <div class="col-md-12 topnavbar">
			<% if @asker_requests.present? %>
	      <table class="table table-hover">
	        <thead>
	          <tr>
	            <td>邀约id</td>
							<td>约会名称</td>
	            <td>创建日期</td>
	            <td>匹配状态</td>
	            <td>操作</td>
	          </tr>
	        </thead>
	        <tbody>
	          <% @asker_requests.each do |asker_request|  %>
	          <tr>
	              <td><%= link_to(asker_request.post_id,post_path(asker_request.post_id)) %></td>
								<td><%= Post.find(asker_request.post_id).title %></td>
	              <td><%= asker_request.created_at.strftime("%Y年%m月%d日") %></td>
	              <td>
										<% if asker_request.is_matched? %>
										<p>成功</p>
										<% else %>
										<p>待通过</p>
										<% end %>
								</td>
                <% if get_current_order_user_id(asker_request) != nil %>
  	              <% if current_user.id == get_current_order_user_id(asker_request) %>
  	                <td><%=link_to("申请已通过","#", class: "btn btn-sm btn-default pink",disabled: :true)%></td>
  	              <% else current_user.id != get_current_order_user_id(asker_request) %>
  	                <td><%=link_to("您被淘汰了","#",class: "btn btn-sm btn-warning light",disabled: :true)%></td>
                  <% end %>
                <% else %>
                  <td><%=link_to("取消申请", account_asker_request_path(asker_request),method: :delete, data: { confirm: "Are you sure?" },class: "btn-sm pink light")%></td>
                <% end %>
	          </tr>
	          <% end %>
	        </tbody>
	      </table>
			<% else %>
			<div class="lonely2page">
				<div class="lonely2page-bg" id="noasker_request"></div>
				<div class="overlaylonely2"></div>
				<div class="col-md-12">
					<div class="row noorderpage-top">
						<h1>
						还没有申请邀约？
						</h1>
						<br>
						<%= link_to "游览饭局 <span class='glyphicon glyphicon-chevron-right'></span>".html_safe(), posts_path, class: "btn btn-default pink" %>
						<br>
						<p> 游览多个好玩的饭局，开启全新社交模式</p>
					</div>
				</div>
			</div>
			<div class="footermargin"></div>
			<% end %>
    </div>
  </body>
	<div class="footermargin"></div>
</html>
