<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>我的申请记录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  </head>


  <body>

    <div class="account-index topnavbar">
      <div class="account-index-bg">
        <div class="row">
          <div class="col-md-9" id="content" style="float:none; margin: 0 auto;">
			      <% if @asker_requests.present? %>
              <% @asker_requests.each do |asker_request|  %>
                <div class="col-md-4">
                  <div class="img-account">
                     <% if asker_request.post.image.present? %>
                        <%= image_tag(asker_request.post.image.thumb.url) %>
                     <% else %>
                        <%= image_tag("https://ooo.0o0.ooo/2016/11/27/583a77b4cb159.png") %>
                     <% end %>
                       <div class="desc">
                            <h3 class="titleh3"><%= link_to(asker_request.post_id,post_path(asker_request.post_id)) %> </h3>
                            <h4 class="titleh4"> <strong> <%= Post.find(asker_request.post_id).title %> </strong></h4>
                            <h4 class="titleh4"><%= asker_request.created_at.strftime("%Y年%m月%d日") %></h4>
                            <h4 class="titleh4">	<% if asker_request.is_matched? %>
               								 成功
               							<% else %>
               							 	未通过
               							<% end %></h4>
                            <hr class="posthr">
                               <div class="postwindow">
                                   <% if get_current_order_user_id(asker_request) != nil %>
                     	              <% if current_user.id == get_current_order_user_id(asker_request) %>
                     	                <td><%=link_to("申请已通过","#", class: "btn btn-sm btn-default pink",disabled: :true)%></td>
                     	              <% else current_user.id != get_current_order_user_id(asker_request) %>
                     	                <td><%=link_to("您被淘汰了","#",class: "btn btn-sm btn-warning light",disabled: :true)%></td>
                                     <% end %>
                                   <% else %>
                                     <td><%=link_to("取消申请", account_asker_request_path(asker_request),method: :delete, data: { confirm: "Are you sure?" },class: "btn-sm pink light")%></td>
                                   <% end %>
                                 </div>
                              </div>
                        </div>
                      </div>
                     <% end %>

		            	<% else %>

		    	<div class="lonely2page">
		      		<div class="lonely2page-bg" id="noasker_request"></div>
		        		<div class="overlaylonely2"></div>
			          	<div class="col-md-12">
				          	<div class="row noorderpage-top">
					          	<h1>
					            	还没有申请邀约？
						          </h1>
					          	<br>
					          	<%= link_to "游览饭局 <span class='glyphicon glyphicon-chevron-right'></span>".html_safe(), posts_path, class: "btn btn-default pink" %>
					          	<br>
					        	<p> 游览多个好玩的饭局，开启全新社交模式</p>
					       </div>
			      	</div>
			     </div>
		  	<div class="footermargin"></div>

			<% end %>
    </div>
  </body>
	<div class="footermargin"></div>
</html>
