<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

         <div class="navbar-header">
					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="sr-only">Toggle Navigation</span>
                         <span class="icon-bar"></span>
                         <span class="icon-bar"></span>
                         <span class="icon-bar"></span>
						</button>
            <a class="navbar-brand projname" href="/"><%= image_tag("https://ooo.0o0.ooo/2016/11/27/583a68d9aa0b0.png", class: "logonav") %>Eat2gether</a>
         </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
								 <li><%= link_to("<i class='fa fa-cutlery'></i>  最新约饭".html_safe, posts_path) %></li>
								 <li><%= link_to("<i class='fa fa-book'></i>  精彩博客".html_safe, feedbacks_path) %></li>
							<% if current_user %>
								 <li class="hidden-xs">
									 <a href="#" id="notificationLink"><i class="fa fa-bell"></i>&nbsp;通知
										 <% if @notifications.present? %>
										 <span class="redpoint"></span>
										 <% end %>
									 </a>
									 <div class="notificationCenter" id="notificationContainer">
										 <div id="notificationTitle">你的通知<hr class="noticeTop"></div>
										 <div id="notificationsBody" class="notifications">
                   <% if @notifications.present? %>
										 	<% @notifications.each do |notification| %>
											<ul>
												<li>
													<a href = "<%= redirect_notification_notification_path(notification)%>">
													用户<%= notification.trigger.nameNick %>申请了您的邀约
												</a>
												</li>
											</ul>
										  <% end %>
                   <% else %>
                      <p>还没有收到通知，赶紧<%=link_to("发起邀约",posts_path) %>吧~</p>
                   <% end %>
									 	 </div>
										 <div id="notificationFooter"><hr class="noticeBottom"><a href="#">查看更多</a></div>
									 </div>
                </li>
							<% end %>

              <% if !current_user %>
                <li><%= link_to("<i class='fa fa-user'></i>  注册".html_safe, "#signupModal", 'data-toggle' => "modal") %></li>
								<li><%= link_to("<i class='fa fa-sign-in'></i>  登录".html_safe, "#loginModal", 'data-toggle' => "modal") %></li>
              <% else %>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">

											<% if current_user.image.present? %>
												 <%= image_tag(current_user.image.medium.url, class: "nav-thumbnails") %>
											<% else %>
												<i class="fa fa-user"></i>
											<% end %>
												&nbsp;<%= current_user.nameNick %>

                        <b class="caret"></b>
                    </a>
                   <ul class="dropdown-menu">
                       <li> <%=  link_to("<i class='fa fa-book'></i>  我的约会".html_safe,account_posts_path)%></li>
                       <li> <%=  link_to("<i class='fa fa-user'></i>  个人中心".html_safe,account_users_path)%></li>
											 <ul class="divider"></ul>
											 <% if current_user.admin? %>
													<li><%= link_to("<i class='fa fa-server'></i>  管理后台".html_safe, admin_users_path) %></li>
													<ul class="divider"></ul>
												<% end %>
											 <li><%= link_to("<i class='fa fa-sign-out'></i>  登出".html_safe, destroy_user_session_path,method: :delete) %></li>
                    </ul>
                  </li>
              <% end %>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<%= render "common/signup" %>
<%= render "common/login" %>

<script type="text/javascript">
  $(function () {
    $("#notifications").popover()
  });
 </script>
