<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

         <div class="navbar-header">
            <a class="navbar-brand projname" href="/"><%= image_tag("logo1-white.png", class: "logonav") %>Eatgether</a>
         </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
								 <li><%= link_to("<i class='fa fa-cutlery'></i>  最新约饭".html_safe, posts_path) %></li>
								 <li><%= link_to("<i class='fa fa-book'></i>  精彩博客".html_safe, feedbacks_path) %></li>
							<% if current_user %>
								 <li>
                   <a id="notifications" data-toggle="popover"
                    data-trigger = "click"  data-html="true" data-placement="bottom"
                    data-content= "<% @notifications.each do |notification| %>
                                      <span>
                                        <a href = <%= redirect_notification_notification_path(notification)%>>
                                          用户<%= notification.trigger.nameNick %>申请了您的邀约
                                        </a>
                                      </span>
                                    <% end %>
                                    ">
                       <i class="fa fa-bell"></i>&nbsp;通知
                       <% if @notifications.present? %>
                        <span class="redpoint"></span>
                       <% end %>
                       <!-- <b class="caret"></b> -->
                   </a>
                </li>
							<% end %>

              <% if !current_user %>
                <li><%= link_to("<i class='fa fa-user'></i>  注册".html_safe, "#signupModal", 'data-toggle' => "modal") %></li>
								<li><%= link_to("<i class='fa fa-sign-in'></i>  登陆".html_safe, "#loginModal", 'data-toggle' => "modal") %></li>
              <% else %>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">

											<% if current_user.image.present? %>
												 <%= image_tag(current_user.image.medium.url, class: "nav-thumbnails") %>
											<% else %>
												<i class="fa fa-user"></i>
											<% end %>
												&nbsp;<%= current_user.nameNick %>

                        <b class="caret"></b>
                    </a>
                   <ul class="dropdown-menu">
                       <li> <%=  link_to("发起的预约",account_posts_path)%></li>
                       <li> <%=  link_to("申请的预约",account_asker_requests_path)%></li>
                       <li> <%=  link_to("约饭订单",account_order_twos_path)%></li>
                       <li> <%=  link_to("个人中心",account_users_path)%></li>
                       <li> <%=  link_to('我的聊天', account_conversations_path) %></li>
											 <li class="divider"></li>
											 <% if current_user.admin? %>
													<li> <%= link_to("管理后台", admin_users_path) %> </li>
													<li class="divider"></li>
												<% end %>
                       <li> <%= link_to("登出", destroy_user_session_path, method: :delete) %> </li>
                    </ul>
                  </li>
              <% end %>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<%= render "common/signup" %>
<%= render "common/login" %>

<script type="text/javascript">
 //  $(function () {$(".test").popover();})

  $(function () {
    $("#notifications").popover()
  });
 </script>
