<!DOCTYPE html>
<html>
    <head>
        <title>Eatgether</title>
        <%= csrf_meta_tags %>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>

        <div class="container-fluid">
            <%= render "common/navbar" %>
            <%= render "common/flashes" %>

            <div class="container">
              <div class="row">
                <div class="bread-user">
                  <div class="brend-word">
                     <span class="bread-one">
                        <a href="/">首页</a>
                     </span>
                     <span class="bread-two">»</span>
                     <span class="bread-three">个人中心</span>
                  </div>

                    <div class="col-md-2 col-md-offset-2">
                        <%= render(partial: 'user') %>
                    </div>
                    <div class="col-md-8">

                        <%= yield %>
                    </div>

                </div>
              </div>
            </div>

        </div>

        <%= render "common/footer" %>

    </body>
</html>
