<!DOCTYPE html>
<html>
<head>
  <title>Eatgether 后台</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<%= render "common/navbar" %>
	<%= render "common/flashes" %>
</head>
<body>
    <div class="row col-md-2 topnavbar">
        <ul class="nav-pills nav-stacked" style="max-width: 300px; padding-top:20px;">
					<%= link_to("用户", admin_users_path, class: "btn btn-md btn-primary", style: "width: 120px") %>
        </ul>

        <ul class="nav-pills nav-stacked" style="max-width: 300px; padding-top:20px;">
          <%= link_to("邀约", admin_posts_path, class: "btn btn-md btn-primary", style: "width: 120px") %>
        </ul>


        <ul class="nav-pills nav-stacked" style="max-width: 300px; padding-top:20px;">
          <%= link_to("订单", admin_order_twos_path, class: "btn btn-md btn-primary", style: "width: 120px") %>
        </ul>

        <ul class="nav-pills nav-stacked" style="max-width: 300px; padding-top:20px;">
          <%= link_to("兴趣", admin_interests_path, class: "btn btn-md btn-primary", style: "width: 120px") %>
        </ul>

				<ul class="nav-pills nav-stacked" style="max-width: 300px; padding-top:20px;">
					<%= link_to("反馈", admin_feedbacks_path, class: "btn btn-md btn-primary", style: "width: 120px") %>
				</ul>

      </div>
      <div class="col-md-10">
        <%= yield %>
        <%= render "common/footer" %>
      </div>
</body>
</html>
