<!DOCTYPE html>
<html>
<head>
  <title>Eatgether 后台</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div>
    <%= render "common/navbar" %>
    <%= render "common/flashes" %>
    <div class="row">
      <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked" style="max-width: 300px; padding-top:20px;">
          <li class="active"> <%= link_to("Users", admin_users_path) %> </li>
        </ul>

        <ul class="nav nav-pills nav-stacked" style="max-width: 300px; padding-top:20px;">
          <li class="active"> <%= link_to("Posts", admin_posts_path) %> </li>
        </ul>

        <ul class="nav nav-pills nav-stacked" style="max-width: 300px; padding-top:20px;">
          <li class="active"> <%= link_to("Orders", admin_orders_path) %> </li>
        </ul>

      </div>
      <div class="col-md-10">
        <%= yield %>
        <%= render "common/footer" %>
      </div>
    </div>
  </div>
</body>
</html>
