<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <title>Eat2gether</title>
        <%= csrf_meta_tags %>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <script src="http://ogx9q73gu.bkt.clouddn.com/blowup.js" charset="utf-8"></script>
        <link rel="stylesheet" href="http://ogx9q73gu.bkt.clouddn.com/ihover.css" media="screen" title="no title">
				<meta name="viewport" content="width=device-width, initial-scale=1">
				<title>eCommerce Product Detail</title>
				<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
				<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    </head>

    <body>

        <div>
            <%= render "common/navbar" %>
            <%= render "common/flashes" %>
            <%= yield %>
        </div>
				<% unless current_page?('/') %>
					<%= render "common/footer" %>
				<% end %>
    </body>
</html>


<script type='text/javascript'>
    (function(m, ei, q, i, a, j, s) {
        m[i] = m[i] || function() {
            (m[i].a = m[i].a || []).push(arguments)
        };
        j = ei.createElement(q),
            s = ei.getElementsByTagName(q)[0];
        j.async = true;
        j.charset = 'UTF-8';
        j.src = '//static.meiqia.com/dist/meiqia.js';
        s.parentNode.insertBefore(j, s);
    })(window, document, 'script', '_MEIQIA');
    _MEIQIA('entId', 43069);
</script>
