<!DOCTYPE html>
<html>
    <head>
        <title>Eat2gether</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <script src="http://ogx9q73gu.bkt.clouddn.com/blowup.js" charset="utf-8"></script>
        <link rel="stylesheet" href="http://ogx9q73gu.bkt.clouddn.com/ihover.css" media="screen" title="no title">
    </head>

    <body>
      <%= render "common/navbar" %>
      <%= render "common/flashes" %>
        <div>
            <div class="container" style="margin-top:10px;">
                <div class="col-md-12 layad">
                    <ul class="nav nav-tabs" role="tablist">
											<% if current_page?(account_posts_path) %>
												<li class="nav-item active" role="presentation"><%= link_to("<i class='fa fa-upload'></i>  发起的预约".html_safe, account_posts_path) %></li>
											<% else %>
												<li class="nav-item" role="presentation"><%= link_to("<i class='fa fa-upload'></i>  发起的预约".html_safe, account_posts_path) %></li>
											<% end  %>

											<% if current_page?(account_asker_requests_path) %>
												<li class="nav-item active" role="presentation"><%= link_to("<i class='fa fa-paper-plane'></i>  我申请的预约".html_safe, account_asker_requests_path) %></li>
											<% else %>
												<li class="nav-item" role="presentation"><%= link_to("<i class='fa fa-paper-plane'></i>  我申请的预约".html_safe, account_asker_requests_path) %></li>
											<% end  %>

											<% if current_page?(account_order_twos_path) %>
												<li class="nav-item active" role="presentation"><%= link_to("<i class='fa fa-book'></i>  约饭订单".html_safe, account_order_twos_path) %></li>
											<% else %>
  											<li class="nav-item" role="presentation"><%= link_to("<i class='fa fa-book'></i>  约饭订单".html_safe, account_order_twos_path) %></li>
											<% end  %>

                    </ul>
                    <%= yield %>
               </div>
            </div>
          </div>
		<%= render "common/footer" %>
    </body>
</html>
